.os-filter-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 10px 14px 10px 0px;
  overflow-x: scroll;
  

  .os-search {
    margin: 0px 14px 0px 14px;
  }

  .dropdown {
    display: flex;
    align-items: center;
    font-size: 12px;
    gap: 20px;
    color: #767676;
    font-weight: 600;
  }
}
