button.secondary-button {
  color: #6467e4;
  border: 1px solid #6467e4;
  padding: 10px 20px;
  background: #ffffff 0% 0% no-repeat padding-box;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 4px;
}
