.input-area-container {
  display: flex;

  .title-Label {
    text-align: left;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.18px;
    color: #6467e4;
    margin-left: 13px;
    margin-top: 30px;
  }

  .main-title-Label {
    text-align: left;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.18px;
    color: #6467e4;
    margin-left: 13px;
    margin-top: 10px;
  }

  .title-Input {
    margin-top: 10px;
    width: 98%;
    margin-left: 16px;
    .MuiFormControl-root {
      display: block;
    }
  }
  .isError {
    border: 1px solid red;
  }
  .isErrorMsg {
    color: red;
  }
  .title-Input .MuiInputBase-root {
    width: 96.5%;
  }

  .upload-Button {
    margin-top: 30px;
    display: flex;
    margin-left: 15px;
    gap: 10px;
    & {
      @media (min-width: 1200px) and (max-width: 1370px) {
        gap: 5px;
      }
    }

    .image-upload-container {
      margin-top: 10px;
      height: 40px;
      display: flex;
      gap: 10px;
      & {
        @media (min-width: 1200px) and (max-width: 1370px) {
          gap: 1px;
        }
      }
      .image-preview {
        position: relative;
      }

      .image-wrapper {
        margin-left: 20px;
        height: 40px;
        & {
          @media (min-width: 1200px) and (max-width: 1370px) {
            margin-left: 5px;
            height: 38px;
          }
        }
      }

      .cancel-icon-button {
        height: 17px;
        width: 22px;
        position: absolute;
        top: -7px;
        left: 7px;
        // right: 0;
        background: white;
        border-radius: 52%;
        border: white;
      }

      .cancel-icon {
        height: 15px;
        width: 15px;
        margin-left: 0px;
        cursor: pointer;
      }

      .MuiButtonBase-root {
        display: flex;
        width: 214px;
        margin-left: 14px;
        & {
          @media (min-width: 1200px) and (max-width: 1400px) {
            margin-left: 0px;
          }
        }
      }
    }
  }

  .description-Input {
    margin-top: 10px;
    width: 98%;

    .MuiFormControl-root {
      // display: block;
    }

    .MuiInputBase-root {
      // display: block;
      margin-left: 14px;
      // width: 192%;
    }
  }
}
