.error404-page-wrapper {
  background-color: #f8f8f8;
  height: 100%;
  .error-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15%;
    .image-align {
      width: 20%;
      height: 20%;
    }
    .error-type {
      color: #fa5f9a;
      font-size: 20px;
      font-weight: bold;
      margin-left: 8px;
      margin-top: 20px;
    }
    .error-sub-heading {
      color: #6467e4;
      margin-left: 10px;
      margin-top: 5px;
      font-size: 40px;
      font-weight: bold;
    }
    .error-description {
      margin-top: 20px;
      inline-size: 300px;
      overflow-wrap: break-word;
      text-align: center;
    }
  }
}
