.create-cyber-block-container {
  display: flex;
  flex-direction: row;
  .cyber-security-Input {
    margin-left: 40px;
  }
  .cyber-label {
    font-size: 14px;
    margin-left: 0px;
    color: black;
    font-weight: 400;
    display: block;
    margin-top: 15px;
    margin-bottom: 10px;
  }
  .input-text-align {
    .MuiInputBase-root {
      width: 90%;
    }
  }

  .left-block {
    width: 50%;
    margin-left: 30px;
    margin-top: 30px;
  }
  .right-block {
    width: 50%;
    margin-top: 110px;
    margin-left: 40px;
    margin-right: 70px;
    .pin-city-state {
      display: flex;
      flex-direction: row;
      gap: 10px;
      width: 95%;
      margin-left: 40px;
      .state-drop {
        .MuiInputBase-input {
          font-size: 16px;
        }
      }
      & {
        @media (max-width: 1700px) {
          flex-wrap: wrap;
        }
      }
      .cyber-security-Input {
        margin-left: 0;
      }
    }
    .fax-email {
      display: flex;
      flex-direction: row;
      gap: 10px;
      width: 98.5%;
      margin-left: 40px;
      .cyber-security-Input {
        margin-left: 0;
      }
    }
  }
}
// View Screen
.create-cyber-block-container.view-cyber {
  .cyber-security-Input {
    padding-bottom: 20px;
    border-bottom: 1px solid #e2e2e2;
  }
  .cyber-label {
    color: #8a8888;
  }
  .MuiOutlinedInput-notchedOutline {
    border: none !important;
  }

  .MuiOutlinedInput-root.Mui-disabled .MuiOutlinedInput {
    border: none;
    color: black;
  }
  .MuiButtonBase-root.Mui-disabled.MuiIconButton-root {
    display: none;
  }
  .MuiInputBase-input.MuiOutlinedInput-input.Mui-disabled {
    -webkit-text-fill-color: #494949;
    font-weight: bold;
    padding-left: 0;
  }
}
