.faq-create-container-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 100%;
  right: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: end;
  background-color: rgba(36, 36, 36, 0.15);
  padding-top: 70px;
  transition: all 0.5s;
  transition-timing-function: ease-out;
  z-index: 2;
  &.faq-open-create {
    left: 0;
  }
  .create-container-section {
    background-color: white;
    padding: 35px 45px;
    width: 45rem;
    overflow-y: auto;
    height: 100%;
    .header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 45px;
      h3 {
        font-size: 18px;
        font-weight: bold;
        line-height: 21px;
        color: #6467e4;
        text-transform: capitalize;
        letter-spacing: 0.18px;
        margin: 0;
      }
      a.close-link {
        background-color: #f1f3fc;
        padding: 9px;
        border: none;
        font-weight: bold;
        color: #959393;
        font-size: 21px;
        border-radius: 4px;
        cursor: pointer;
        display: flex;
        margin: 0;
      }
    }
    .richTextEditorContainer {
      height: 24rem;
      display: flex;
      flex-direction: column;
      .quill {
        width: 100%;
        height: 17rem;
        .ql-editor{
          font-family: sans-serif;
          font-size: medium;
        }
      }
      &.richTextEditorContainer-error {
        .richContent {
          margin-bottom: 2.6rem;
        }
        height: 24rem;
        .quill {
          width: 100%;
          height: 17rem;
          .ql-editor{
            font-family: sans-serif;
            font-size: medium;
          }
        }
        .ql-toolbar,
        .ql-container {
          border-color: red;
        }
      }
    }
    
  }
  .faq-container {
    h4 {
      font-size: 16px;
      line-height: 20px;
      color: #323232;
      letter-spacing: 0.18px;
      font-weight: bold;
      margin-bottom: 10px;
      margin-top: 35px;
      .helper-text {
        display: inline-block;
        font-size: 12px;
        color: grey;
      }
    }

    .action-button {
      justify-content: end;
      bottom: 40px;
      right: 40px;
      margin-top: 3rem;
    }
  }
}
