button.reject-button {
  background-color: #ff1a71;
  font-size: 16px;
  padding: 8px 21px;
  margin-left: 5px;
  color: white;
  font-weight: bold;
  letter-spacing: 0.16px;
  border: none;
  border-radius: 4px;
  height: 40px;
  white-space: pre;
  cursor: pointer;
}
