main {
  height: 100vh;
  overflow-x: hidden;
  padding-bottom: 20px;
  width: 100%;
  .main-content {
    height: 100%;
    display: flex;

    .main-body {
      margin-top: 70px;
      // margin-left: 245px;
      display: flex;
      flex-direction: column;
      overflow-x: hidden;
      width: 100%;
    }
  }
}
